body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3B4144;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
nav {
    margin-left: 48px;
}
header nav svg {
    display: none;
}
header ul {
    list-style-type:none ;
    display: flex;
    gap: 40px;
    padding: 0px;
    height: 20px;
}

a {
    text-decoration: none;
    color: #999898;
    font-size: 14px;
    font-weight: 600;
}

header a:hover {
    color: black;
    border-bottom:2px solid red ;
    cursor: pointer;
    padding: 0px;
}

#logoheader {
    opacity: 1;
}
header button {
    width: 131px;
    height: 32px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

header button:hover {
box-shadow: 0 6px 4px rgba(0,0,0,.15);
}
main {
    width: 936px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#img1 {
    width: 100%;
    border-radius: 24px;
    margin-bottom: 36px;
}
.share button {
    width: 145px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.0125em;
    cursor: pointer;
}
#share1 {
    background-color: #CCCCCC;
    border: none;
    color: white;
}
#share2 {
    background-color: #395185;
    border: none;
    color: white;
}
#share3 {
    background-color: #FFFFFF;
    width: 110px;
}
.divimg img {
    border-radius: 24px;
}
.content span {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.0125em;
}
.relatednews__right svg {
    display: none;
}
.itemnews img {
    width: 336px;
    height: 220px;
    border-radius: 24px;
}
.moreright svg {
    display: none;
}
.header__right {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-right: 48px;
}
.header__icon {
    opacity: 1;
    cursor: pointer;
}

.header__icon:hover {
    transform: scale(1.15);
}
.header__user-info {
    display: inline-flex;
    text-align: right;
    height: 36px;
    gap: 10px;
}

.header__user-name {
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
}

.header__user-role {
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
}
.introduction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
}
.introduction__left {
    display: flex;
    align-items: center;
    gap: 16px;
}
.introduction__left svg {
    cursor: pointer;
}
.introduction__left--hightlight {
    color: #D93C23;
    font-size: 14px;
    font-size: 600;
    letter-spacing: 0.0125em;
    cursor: pointer;
}
.introduction__right {
    display: flex;
    align-items: center;
    gap: 16px;
    line-height: 22.5px;
    letter-spacing: 0.001em;
}
.introduction__right--left {
    font-size: 16px;
    font-family: 400;
    line-height: 22.5px;
    letter-spacing: 0.001em;
}
.introduction__right--right {
    font-size: 16px;
    font-family: 400;
    background-color: #007882;
    border-radius: 36px;
    width: 124px;
    height: 32px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 0px;
    line-height: 48px;
    letter-spacing: -0.01em;
}
.inforandshare {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 36px;
}
.infor {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.infor__left {
    font-size: 14px;
    font-weight: 600;
    color: #007882;
    letter-spacing: -0.0125em;
}
.infor__center {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: -0.01em;
}
.infor__right {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: 0.001;
    opacity: 0.5;
}
.share {
    display: inline-flex;
    gap: 8px;
}
.content {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
}
.divimg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    margin-top: 36px;
}
.divimg__left img {
    width: 576px;
    height: 628px;
}
.divimg__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.divimg__righttop img {
    width: 336px;
    height: 259px;
}
.divimg__rightbottom img {
    width: 336px;
    height: 345px;
}
.title2 {
    align-self: flex-start;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.04em;
    margin-top: 36px;
    margin-bottom: 16px;
}
.divCriteria {
    margin-top: 12px;
    width: 100%;
    align-self: flex-start;
}
.divCriteriaitem {
    display: flex;
    align-items: center;
    width: 100%;
}
.divkeyword {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 16px;
}
.keyword {
    width: 134px;
    height: 31px;
    background-color: #E5E5E5;
    border-radius: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 36px 0px;
    cursor: pointer;
}
.relatednews {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 18px;
}
.relatednews__left {
    display: flex;
    gap: 16px;
}
.relatednews__left1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.015em;
}
.relatednews__left2 {
    width: 116px;
    height: 29px;
    background-color: #007882;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
}
.relatednews__right {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: 0.001em;
    cursor: pointer;
}
.itemnews {
    display: flex;
    gap: 24px;
    align-items: center;
    width: 100%;
    margin: 18px 0px;
}
.itemnews__divcontent {
    width: 336px;
    height: 179px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
}
.itemnews__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.015em;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.itemnews__content {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.005em;
    width: 100%;
    opacity: 0.5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.more {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0px;
}
.moreleft {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.0015em;
}
.moreright {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px;
    letter-spacing: 0.001em;
    cursor: pointer;
}
@media (max-width: 1428px) {
    header button {
    display: none;
}
header nav svg {
    display: inline;
}

header ul {
    display: none;
}
}
@media (max-width: 1024px){
    main {
        width: 696px;
    }
    header {
        display: flex;
        align-items: center;
    }
    .header__right {
        margin-left: auto;
    }
    #logoheader {
        margin-left: 24px;
    }
    #img1 {
        width: 696px;
    }
    .divimg__left img {
    width: 457px;
    height: 497px;
}
.divimg__righttop img {
    width: 216px;
    height: 216px;
}
.divimg__rightbottom img {
    width: 216px;
    height: 257px;
}
.share span {
    display: none;
}
.share button {
    width: 66px;
}
#share3 {
    width: 66px;
}
.header__user-name {
    display: none;
}
.header__user-role {
    display: none;
}
}
@media (max-width: 768px) {
    main {
        width: 331px;
    }
    nav {
        margin-left: 24px;
    }
    .header__right {
        margin-right: 24px;
    }
    #img1 {
        width: 331px;
    }
    .inforandshare {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    .share {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .share button {
    width: 105px;
}
#share3 {
    width: 105px;
}
.divimg__left img {
    width: 331px;
    height: 359px;
}
.divimg__righttop img {
    width: 161px;
    height: 161px;
}
.divimg__rightbottom img {
    width: 161px;
    height: 161px;
}
    .divimg {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .divimg__right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }
    .itemnews {
        position: relative;
    }
    .itemnews__img {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 161px;
        height: 105px;
    }
    .itemnews img {
    width: 161px;
    height: 106px;
    border-radius: 16px;

}
.itemnews__content {
    margin-left: 50%;
    width: 50%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.relatednews__left {
    gap: 5px;
}
.relatednews__left2 {
    width: 92px;
    height: 24px;
}
.relatednews__right span {
    display: none;
}
.relatednews__right svg {
    display: inline-block;
    cursor: pointer;
}
.moreright span {
    display: none;
}
.moreright svg {
    display: inline-block;
    cursor: pointer;
}
.introduction__right--left {
    display: none;
}
}